@using SoundSynchro
@model PlaylistCollection
<h1>
    Playlists
</h1>

<div class="music-container">
    <ul>
        @foreach (Playlist playlist in Model)
        {
            @Html.Partial("PlaylistItem", playlist)
        }
    </ul>
</div>