@using SoundSynchro
@model PlaylistCollection
<div class="box2-header">
    <h1>
        Playlists
    </h1>
    <div class="search-box">
        <form id="searchbox" action="">
            <input id="submit" type="submit" class="submit" value="Search">
            <input id="search" type="text" placeholder="Type here">
        </form>
    </div>
</div>

<div class="music-container">
    <ul>
        @foreach (Playlist playlist in Model)
        {
            @Html.Partial("PlaylistItem", playlist)
        }
    </ul>
</div>