@{
    ViewBag.Title = "Settings";
}

<div class="box2-header">
    <h1>
        Settings
    </h1>
    <div class="search-box">
        <form id="searchbox" action="">
            <input id="submit" type="submit" class="submit" value="Search">
            <input id="search" type="text" placeholder="Type here">
        </form>
    </div>
</div>
<hr />
@using (Html.BeginForm("SettingsManagementUpdate", "Home", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <label>
        Password protected
        <input type="text" name="password" id="password" value="@SoundSynchro.Web.Security.AuthorizationManager.GetPassword()" />
    </label>

    <input type="submit" value="Update" class="button" />
}
<hr />
@using (Html.BeginForm("APIKeyManagementUpdate", "Home", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <label>
        Deezer API Key
        <input type="text" name="deezerKey" id="deezerKey" value="@SoundSynchro.Web.APIKeyManager.GetValue(SoundSynchro.MediaType.Deezer)" />
    </label>
    <label>
        Youtube API Key
        <input type="text" name="youtubeKey" id="youtubeKey" value="@SoundSynchro.Web.APIKeyManager.GetValue(SoundSynchro.MediaType.Youtube)" />
    </label>
    <label>
        SoundCloud API Key
        <input type="text" name="soundcloudKey" id="soundcloudKey" value="@SoundSynchro.Web.APIKeyManager.GetValue(SoundSynchro.MediaType.SoundCloud)" />
    </label>
    <input type="submit" value="Update" class="button" />
}
