@{
    ViewBag.Title = "Storage";
}

<h2>Storage</h2>
<hr />
@using (Html.BeginForm("Storage", "Home", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <label>
        Music
        <input type="file" name="audio" id="audio" />
    </label>
    <label>
        Thumbnail
        <input type="file" name="thumbnail" id="thumbnail" />
    </label>

    <input type="submit" value="Upload" class="button" />
}
<hr />
@using (Html.BeginForm("StorageMultiple", "Home", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <label>
        Music and thumbnails
        <input type="file" name="files" id="files" class="form-control" multiple />
    </label>

    <input type="submit" value="Upload" class="button" />
}