* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.6;
}

.container {
    display: flex;
    width: 100%;
}

.box1 {
    position: fixed;
    background-color: #1d1d1d;
    height: 100vh;
    width: 280px;
    top: 0;
    left: 0;
}


.logo-container {
    padding: 13px 0;
    background-color: #FF6D10; /* ff6d10 */
    height: 60px;
    display: block;
}

.logo {
    margin: 0 auto;
    display: table;
    width: 176px;
    height: 34px;
    line-height: 60px;
}


.menu ul {
    margin-bottom: 0;
}

    .menu ul li {
    }

        .menu ul li a {
            display: block;
            padding: 0 12px;
            height: 48px;
            font-size: 15px;
            font-weight: 400;
            line-height: 48px;
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
            transition: background-color 0.3s ease;
        }

            .menu ul li a:hover {
                margin-bottom: 0;
                background-color: rgba(255,255,255,0.1);
            }


.box2 {
    padding: 0 453px 0 280px;
    background-color: #f1f1f1;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

.box2-container {
    display: block;
    padding: 0;
    overflow: auto;
    height: 100vh;
    overflow-x: hidden;
}

    .box2-container .box2-header {
        display: block;
        padding: 0 24px;
        background: #ffffff;
        width: 100%;
        height: 60px;
    }

        .box2-container .box2-header h1 {
            float: left;
            display: inline-block;
            background-color: #ffffff;
            font-size: 24px;
            line-height: 60px;
            font-weight: 400;
        }

        .box2-container .box2-header input {
            float: right;
            margin: 6px 0;
            padding: 6px 12px;
            border: 1px solid #f1f1f1;
            height: 48px;
        }

            .box2-container .box2-header input:focus {
                outline: none;
                border-top: 1px solid #FF6D10;
                border-left: 1px solid #FF6D10;
                border-bottom: 1px solid #FF6D10;
            }

            .box2-container .box2-header input.submit {
                font-family: 'Roboto', sans-serif;
                border: 1px solid #FF6D10;
                background-color: rgba(255,109,16,1);
                color: #ffffff;
                text-transform: uppercase;
                cursor: pointer;
            }

                .box2-container .box2-header input.submit:hover {
                    background-color: rgba(255,109,16,0.8);
                }


    .box2-container ul li .music-card {
        float: left;
        position: relative;
        height: 48px;
        width: 100%;
        transition: all 0.3s ease;
    }

        .box2-container ul li .music-card:hover {
            background-color: #FF6D10;
        }

        .box2-container ul li .music-card .img-container {
            position: relative;
            float: left;
            background-color: #1c1c1c;
            height: 48px;
            width: 48px;
        }

            .box2-container ul li .music-card .img-container .fa {
                font-size: 28px;
                position: absolute;
                line-height: 48px;
                text-align: center;
                top: 0;
                left: 50%;
                margin-left: -12px;
                color: #FF6D10;
                display: none;
            }

        .box2-container ul li .music-card:hover .img-container .fa {
            display: block;
        }


        .box2-container ul li .music-card .img-container img {
            float: left;
            height: 48px;
        }

        .box2-container ul li .music-card:hover .img-container img {
            opacity: 0.2;
        }

        .box2-container ul li .music-card .informations {
            float: left;
            margin: 0 0 0 12px;
            font-size: 13px;
            line-height: 48px;
            color: #1c1c1c;
        }

        .box2-container ul li .music-card:hover .informations {
            color: #ffffff;
        }

        .box2-container ul li .music-card .informations .artist-name {
            text-transform: uppercase;
        }


    .box2-container ul li .actions {
        position: absolute;
        color: #ffffff;
        top: 0px;
        right: 24px;
    }

        .box2-container ul li .actions a {
            float: right;
            display: inline-block;
            margin: 12px 6px;
            width: 24px;
            height: 24px;
            line-height: 25px;
            border-radius: 50%;
            background-color: #1c1c1c;
            color: #ffffff;
            text-align: center;
        }

            .box2-container ul li .actions a:hover {
                background-color: #FF6D10;
            }


    /* #region PLAYLISTS */
    .box2-container ul li.playlist-card {
        float: left;
        margin: 2% 0 0 2%;
        width: 17.6%;
        /*border: 1px solid #ccc;*/
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

        .box2-container ul li.playlist-card .playlist-img-container {
            float: left;
            position: relative;
            background-color: #1c1c1c;
            width: 100%;
        }

            .box2-container ul li.playlist-card .playlist-img-container img {
                float: left;
                width: 100%;
                opacity: 1;
                transition: opacity 0.3s ease;
            }

        .box2-container ul li.playlist-card:hover .playlist-img-container img {
            opacity: 0.3;
        }

        .box2-container ul li.playlist-card .playlist-img-container .playlist-actions {
            position: absolute;
            margin-left: -54px;
            color: #ffffff;
            top: 50%;
            left: 50%;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease;
            margin-top: -12px;
        }

            .box2-container ul li.playlist-card .playlist-img-container .playlist-actions a {
                float: right;
                display: inline-block;
                margin: 0 6px;
                width: 24px;
                height: 24px;
                line-height: 25px;
                border-radius: 50%;
                background-color: #ffffff;
                color: #FF6D10;
                text-align: center;
            }

                .box2-container ul li.playlist-card .playlist-img-container .playlist-actions a:hover {
                    background-color: #FF6D10;
                    color: #ffffff;
                }




        .box2-container ul li.playlist-card:hover .playlist-img-container .playlist-actions {
            visibility: visible;
            opacity: 1;
        }

        .box2-container ul li.playlist-card .playlist-informations {
            float: left;
            background-color: #ffffff;
            width: 100%;
        }

            .box2-container ul li.playlist-card .playlist-informations .playlist-playing {
                display: none;
            }

                .box2-container ul li.playlist-card .playlist-informations .playlist-playing a {
                    float: left;
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    background-color: #f9f9f9;
                    color: #FF6D10;
                    text-align: center;
                    display: block;
                    font-size: 24px;
                }

            .box2-container ul li.playlist-card .playlist-informations .playlist-name {
                display: block;
                padding: 0 12px;
                font-size: 15px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 48px;
            }

        .box2-container ul li.playlist-card.active .playlist-informations .playlist-playing {
            display: block;
        }

        .box2-container ul li.playlist-card.active .playlist-img-container img {
            opacity: 0.2;
        }

        .box2-container ul li.playlist-card.active .playlist-informations {
            background-color: #FF6D10;
            color: #ffffff;
        }

        .box2-container ul li.playlist-card.active .playlist-img-container .playlist-actions {
            visibility: visible;
            opacity: 1;
        }

/* #endregion PLAYLISTS */


.box3 {
    top: 0;
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 453px;
    right: 0;
    -webkit-box-shadow: 0px 0px 10px #1c1c1c;
    -moz-box-shadow: 0px 0px 10px #1c1c1c;
    box-shadow: 10px 0px 30px #1c1c1c;
}


.player {
    height: 344px;
    width: 453px;
    background-color: brown;
}

.player-preview {
    width: 100%;
    height: 200px;
    background-color: indianred;
}

.player-audio {
    width: 100%;
    height: 48px;
    background-color: #1c1c1c;
}

    .player-audio span.player-duration {
        float: left;
        width: 65px;
        text-align: center;
        color: #ffffff;
        line-height: 48px;
    }

    .player-audio .slider {
        float: left;
        margin: 21px 0;
        width: 323px;
    }


.player-action {
    padding: 0 12px;
    width: 100%;
    height: 48px;
    background-color: #ffffff;
}

.player-action-left,
.player-action-right {
    float: left;
    width: 50%;
}

.player-action-left {
    float: left;
}

    .player-action-left a {
        float: left;
        display: inline-block;
        color: #1c1c1c;
    }

        .player-action-left a:hover {
            color: #FF6D10;
        }

.button-fast-backward {
    margin: 15px 12px 15px 6px;
    font-size: 18px;
    line-height: 18px;
}

.button-play {
    margin: 13px 12px 13px 6px;
    font-size: 22px;
    line-height: 22px;
}

.button-fast-forward {
    margin: 15px 12px 15px 6px;
    font-size: 18px;
    line-height: 18px;
}

.player-action-right {
    text-align: center;
}

    .player-action-right a {
        float: right;
        display: inline-block;
        margin: 12px 6px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #1c1c1c;
        color: #ffffff;
    }

        .player-action-right a:hover {
            background-color: #FF6D10;
        }

        .player-action-right a i {
            line-height: 24px;
        }

.player-playlist-name {
    height: 48px;
    padding: 0 24px;
    background-color: #FF6D10;
}

    .player-playlist-name h2 {
        font-size: 21px;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 48px;
        font-weight: 400;
    }


.playlist {
    background-color: wheat;
    height: calc(100% - 344px);
    overflow-y: scroll;
}

    .playlist ul li {
        height: 38px;
    }

        .playlist ul li a {
            display: block;
            line-height: 38px;
            font-size: 15px;
            background-color: #ffffff;
            position: relative;
            text-decoration: none;
            transition: all 0.2s ease;
        }

            .playlist ul li a span {
                margin: 0 0 0 24px;
                transition: all 0.2s ease;
                color: #1c1c1c;
            }


            .playlist ul li a:before {
                position: absolute;
                content: "";
                left: -2px;
                width: 2px;
                height: 100%;
                background-color: #ffffff;
                transition: all 0.2s ease;
            }

            .playlist ul li a:hover {
                display: block;
                line-height: 38px;
                font-size: 15px;
                background-color: #f9f9f9;
            }

                .playlist ul li a:hover:before {
                    left: 0;
                    background-color: #FF6D10;
                }

                .playlist ul li a:hover span {
                    margin: 0 0 0 26px;
                    color: #FF6D10;
                }





/* Slider */

.slider {
    clear: none;
}

.slider {
    float: left;
    position: relative;
    height: 6px;
    background-color: rgba(255,255,255,.8);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 3px;
}


[data-whatinput=mouse] .slider-handle {
    outline: 0;
}

.slider-handle {
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 50%;
    border: 2px solid white;
    opacity: 1;
}

.slider-handle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    width: 14px;
    height: 14px;
    background-color: #FF6D10;
    transition: all .2s ease-in-out;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.slider-fill, .slider-handle {
    left: 0;
    display: inline-block;
}

.slider-fill {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 6px;
    background-color: #FF6D10;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.slider:hover .slider-handle {
    opacity: 1;
}
