.thumbnail {
    display: inline-block;
}

.music-title {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 24px;
}



.media-object {
    padding-top: 10px;
}

    .media-object.active {
        background: #2199e8;
        color: #fff;
    }

#player .thumbnail {
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-file {
    overflow: hidden;
}

    #player-file .cover {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.8) blur(2px);
        -webkit-filter: brightness(0.8) blur(2px);
        -moz-filter: brightness(0.8) blur(2px);
        -o-filter: brightness(0.8) blur(2px);
        -ms-filter: brightness(0.8) blur(2px);
        width: 100%;
        height: 200px;
    }

#player-file,
#player-youtube,
#player-soundcloud {
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    border: none;
}

#player-deezer {
    padding-top: 55px;
}

#dzplayer {
    width: 100%;
    min-width: 200px;
    height: 92px !important;
    border: none;
}

.thumbnail img {
    width: 120px;
    height: 90px;
}

.table {
    width: 100%;
}


.text-center .button {
    float: none;
}

.slider-handle:hover {
    background-color: #FF6D10;
}

ul {
    list-style-type: none;
    margin-left: 0;
}



.slider-handle {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
    border: 2px solid white;
}

.twitter-typeahead {
    float: right;
    width: 50%;
}

.tt-dataset {
    background-color: white;
    padding: 4px 0px;
}

.tt-suggestion {
    padding: 0 4px;
}

    .tt-suggestion:hover {
        background-color: #FF6D10;
        color: white;
    }

#dropper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
